$primary-color: #6140f1;
$secondary-color: #3582e7;
$font-family: Arial, sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 10px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 45px;
        }
    }
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.server-list {
    list-style: none;
    padding: 0;
}

.server {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }

    .favorite-button {
        background-color: $secondary-color;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($secondary-color, 10%);
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: $primary-color;
    color: white;
}
